@media screen and (max-width: 480px) {
    .sociais{
        display: none;
    }

    .whatsapp{
        height: 4vh;
    }

    header section{
        width: 45vw;
    }

    .primeiraSection{
        height: 50vh;
    }

    .primeiraSection div{
        border: solid blue;
        
    }

    .primeiraSection h1{
        font-size: 25px;
        border: solid purple;
    }

    .primeiraSection img{
        border: solid green;
    }

    .segundaSection{
        height: 50vh;
    }

    .terceiraSection{
        height: 50vh;
    }

    .apoio{
        height: 15vh;
    }

    .apoio h2{
        font-size: 20px;
    }

    .apoio img{
        width: 18vw;
        height: 5vh;
    }

    footer{
        height: 50vh;
    }
}