@media screen and (max-width: 480px) {


    header .sociais{
        display: none;
    }

    header .whatsapp{
        height: 4vh;
        position: absolute;
        top: 5%;
        right: 10%;
    }

    header section{
        width: 55vw;
    }

    .primeiraSection{
        height: 80vh;
        background-image: url('..//images/primeirocaomedia.png');
        display: flex;
        justify-content: flex-start;
    }

    .primeiraSection div{
        width: 35vh;
        height: 45vh;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 40%; left: 17%;
    }

    .primeiraSection h1{
        font-size: 35px;
        width: 73vw;
    }

    .primeiraSection img{
        width: 20vw;
        height: 15vh;
    }

    .segundaSection{
        height: 150vh;
        background-image: url('../images/segundocaomedia.png');
        background-size: 100% 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .segundaSection div{
        width: 80vw;
        height: 50vh;
        position: relative;
        left: 5%; top: 5%;
        text-align: justify;
    }

    .segundaSection h2{
        font-size: 35px;
    }

    .segundaSection p{
        font-size: 20px;
    }

    .segundaSection button{
        width: 35vw;
        height: 10vh;
        font-size: 16px;
    }

    .terceiraSection{
        height: 150vh;
        background-image: url('../images/terceirocaomedia.png');
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .terceiraSection div{
        width: 77vw;
        height: 50vh;
        position: relative;
        left: 5%; top: 5%;
        text-align: justify;
    }


    .terceiraSection h2{
        font-size: 35px;
    }

    .terceiraSection p{
        font-size: 20px;
    }

    .terceiraSection button{
        width: 35vw;
        height: 10vh;
        font-size: 16px;
    }

    .apoio{
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .apoio figure{
        height: 10vh;
        width: 75vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .apoio h2{
        display: initial;
        font-size: 20px;
        font-weight: normal;
        font-style: italic;
    }

    .apoio figure h2{
        display: none;
    }

    .apoio img{
        width: 20vw;
        height: 5vh;
    }

    footer{
        height: 150vh;
        display: flex;
        flex-direction: column;
    }

    footer .logo{
        display: initial;
        width: 55vw;
        height: 15vh;
        display: flex;
        align-items: center;
        margin-right: 40%;
    }

    footer .logo figure{
        width: 45vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }

    footer .logo img{
        width: 12vw;
        height: 10vh;
    }

    footer .contato{
        width: 45vw;
        display: flex;
        justify-content: space-evenly;
    }

    footer .sociais{
        display: initial;
    }

    footer .whatsapp{
        display: initial;
    }

    footer ul{
        height: 25vh;
        width: 35vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }

    footer section{
        width: 55vw;
        display: flex;
        align-items: center;
        margin-right: 33%;
    }


}
