@media screen and (max-width: 480px) {
    header .sociais{
        display: none;
    }

    header .whatsapp{
        height: 4vh;
    }

    header section{
        width: 45vw;
    }

    .primeiraSection{
        height: 120vh;
        background-image: url('../images/primeirocaomedia.png');
        display: flex;
        justify-content: flex-start;
    }

    .primeiraSection div{
        width: 55vh;
        height: 45vh;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 25%; left: 15%;  
            
    }

    .primeiraSection h1{
        font-size: 35px;
        width: 73vw;
    }

    .primeiraSection img{
        width: 25vw;
    }

    .segundaSection{
        height: 150vh;
        background-image: url('..//images/segundocaomedia.png');
        background-size: 100% 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .segundaSection div{
        width: 80vw;
        height: 50vh;
        position: relative;
        left: 5%; top: 5%;
        text-align: justify;
    }

    .segundaSection h2{
        font-size: 35px;
    }

    .segundaSection p{
        font-size: 20px;
    }

    .segundaSection button{
        width: 35vw;
        height: 10vh;
        font-size: 16px;
    }

    .terceiraSection{
        height: 150vh;
        background-image: url('../images/terceirocaomedia.png');
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .terceiraSection div{
        width: 77vw;
        height: 50vh;
        position: relative;
        left: 5%; top: 5%;
        text-align: justify;
    }


    .terceiraSection h2{
        font-size: 35px;
    }

    .terceiraSection p{
        font-size: 20px;
    }

    .terceiraSection button{
        width: 35vw;
        height: 10vh;
        font-size: 16px;
    }

    .apoio{
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .apoio figure{
        height: 10vh;
        width: 75vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .apoio h2{
        display: initial;
        font-size: 20px;
        font-weight: normal;
        font-style: italic;
    }

    .apoio figure h2{
        display: none;
    }

    .apoio img{
        width: 20vw;
        height: 5vh;
    }

    footer{
        height: 150vh;
        display: flex;
        flex-direction: column;
        border: solid green;
    }

    footer .logo{
        display: initial;
        border: solid red;
        width: 55vw;
        height: 15vh;
        display: flex;
        align-items: center;
    }

    footer .logo figure{
        border: solid blue;
        width: 45vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    footer .logo img{
        width: 10vw;
        height: 10vh;
    }

    footer .contato{
        border: solid yellow;
        width: 45vw;
        display: flex;
        justify-content: space-evenly;
    }

    footer .sociais{
        display: initial;
    }
}