*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif';
    text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 13vh;
    width: 100%;
}

header section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 15vw;
}

header h2{
    color: #ffffff;
}

header section img{
    height: 8vh;
}

header nav{
    display: flex;
    width: 15vw;
}

header a{
    display: flex;
    justify-content: center;
    width: 5vw;
}

header a img{
    height: 3vh;
}

img:hover{
    transform: scale(115%);
}

.primeiraSection{
    background-image: url('../images/primeirocao.png');
    background-size: cover;
    height: 150vh;
    display: flex;
    justify-content: center;
    
}

.primeiraSection div{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
    left: 30px;
    margin-top: 155px;
}

.primeiraSection img{
    height: 18vh;
    width: 12vw;  
}

.primeiraSection h1{
    font-size: 56px;
    font-weight: 900;
    color: #ffffff;
    width: 35vw;
}

.segundaSection{
    background-image: url('../images/segundocao.png');
    background-size: cover;
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    
}

.segundaSection div{
    width: 35vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    left: 80px;
}

.segundaSection h2{
    font-size:60px;

}

.segundaSection p{
    font-size: 42px;
}

.segundaSection button{
    width: 25vw;
    height: 15vh;
    border-radius: 44px;
    background-color: #3A342F;
    color: #ffffff;
    font-size: 35px;
}

button:hover{
    transform: scale(115%);
}

.terceiraSection{
    background-image: url('../images/terceirocao.png');
    background-size: cover;
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

.terceiraSection div{
    width: 32vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    right: 80px;
    color: #ffffff;
}

.terceiraSection h2{
    font-size:60px;
}

.terceiraSection p{
    font-size: 42px;
}

.terceiraSection button{
    width: 25vw;
    height: 15vh;
    border-radius: 44px;
    border: none;
    background-color: #ffffff;
    color: #3A342F;
    font-size: 35px;
    font-weight: 900;
}

.apoio{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FD6A9A;
    height: 20vh;
}

.apoio figure{
    width: 55vw;
    display: flex;
    justify-content: space-evenly;
}

.apoio h2{
    display: none;
}

.apoio figure h2{
    font-size: 25px;
    font-weight: normal;
    font-style: italic;
    display: initial;
}

.apoio img{
    width: 12vw;
    height: 5vh;
}

footer{
    background-color:#FD6A9A;
    color: #ffffff;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
}

footer .logo{
    display: none;
}

footer .sociais{
    display: none;
}

footer .whatsapp{
    display: none;
}

footer ul{
    list-style: none;
}

footer section{
    height: 40vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    left: 80px;
}

footer li{
    height: 4vh;
}
