*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif';
    text-decoration: none;
}

body{
    cursor: url('data:image/x-icon;base64,AAACAAEAICACAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAPgAAAH4AAAD/AAAA/4AAAP+AAAB/vwAAP/+AAB//gAAf/4AAP/+AAH//gAD//4AB/j8AA/wOAAf4AAAP8AAAH+AADz/AAB//gAAf/wAAH/8AAB/+AAAf/gAAH/4AAA//AAAA/wAAAP8AAAD/AAAA/gAAAHwAAAAAAAA//8H///+A////AP///gB///4AP//+AAD//wAAf/8AAD//wAA//8AAP/+AAD//AAA//gAAP/wAAH/4AcD/8APx/+AH//DAD//gAB//wAA//8AAf//AAH//wAD//8AA///AAP//4AB///AAf//+AH///gB///4A////Af///4P//8='), auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 13vh;
    width: 100%;
}

header section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 15vw;
}

header h2{
    color: #ffffff;
}

header section img{
    height: 8vh;
}

header nav{
    display: flex;
    width: 15vw;
}

header a{
    display: flex;
    justify-content: center;
    width: 5vw;
}

header a img{
    height: 3vh;
}

img:hover{
    transform: scale(115%);
}

.boasvindas{
    background-image: url('../images/primeirocao.png');
    background-size: cover;
    height: 150vh;
    display: flex;
    justify-content: center;
    
}

.boasvindas div{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
    left: 30px;
    margin-top: 155px;
}

.boasvindas img{
    height: 18vh;
    width: 12vw;  
}

.boasvindas h1{
    font-size: 56px;
    font-weight: 900;
    color: #ffffff;
    width: 35vw;
}

.banhotosa{
    background-image: url('../images/segundocao.png');
    background-size: cover;
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    
}

.banhotosa div{
    width: 35vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    left: 80px;
}

.banhotosa h2{
    font-size:60px;

}

.banhotosa p{
    font-size: 42px;
}

.banhotosa button{
    width: 25vw;
    height: 15vh;
    border-radius: 44px;
    background-color: #3A342F;
    color: #ffffff;
    font-size: 35px;
}

button:hover{
    transform: scale(115%);
}

.mordomia{
    background-image: url('../images/terceirocao.png');
    background-size: cover;
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

.mordomia div{
    width: 32vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    right: 80px;
    color: #ffffff;
}

.mordomia h2{
    font-size:60px;
}

.mordomia p{
    font-size: 42px;
}

.mordomia button{
    width: 25vw;
    height: 15vh;
    border-radius: 44px;
    border: none;
    background-color: #ffffff;
    color: #3A342F;
    font-size: 35px;
    font-weight: 900;
}

.apoio{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FD6A9A;
    height: 20vh;
}

.apoio figure{
    width: 55vw;
    display: flex;
    justify-content: space-evenly;
}

.apoio h2{
    display: none;
}

.apoio figure h2{
    font-size: 25px;
    font-weight: normal;
    font-style: italic;
    display: initial;
}

.apoio img{
    width: 12vw;
    height: 5vh;
}

footer{
    background-color:#FD6A9A;
    color: #ffffff;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
}

footer .logo{
    display: none;
}

footer .sociais{
    display: none;
}

footer .whatsapp{
    display: none;
}

footer ul{
    list-style: none;
}

footer section{
    height: 40vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    left: 80px;
}

footer li{
    height: 4vh;
}
